%p#notice= notice

.entity
  %h2= @group.name
  %div
    :markdown
      #{@group.description}

  - unless @group.characters.empty?
    %h3 Members
    %ul
    - @group.characters.each do |character|
      %li= link_to character.name, character

  .actions
    - if session[:authenticated]
      = link_to 'Edit', edit_group_path(@group)
    = link_to 'Back', groups_path
