%h1 Characters

= render "shared/quick_search"

.entities
  .section
    - @characters.each do |character|
      .entity
        %h2.name= character.name
        %p
          :markdown
            #{character.short_description_markdown}
        .actions
          = link_to 'Show', character
          - if session[:authenticated]
            = link_to 'Edit', edit_character_path(character)
            = link_to 'Destroy', character, :confirm => 'Are you sure?', :method => :delete

  - if session[:authenticated]
    .actions
      = link_to 'New Character', new_character_path
