%h1 Characters

.character-list
  - @characters.each do |character|
    %div.character
      %h2= character.name
      %p= character.description
      %div.actions
        = link_to 'Show', character
        |
        = link_to 'Edit', edit_character_path(character)
        |
        = link_to 'Destroy', character, :confirm => 'Are you sure?', :method => :delete

  %div.actions
    = link_to 'New Character', new_character_path
