%h1 Characters

.entities
  - @characters.each do |character|
    .entity
      %h2= character.name
      %p= character.description
      .actions
        = link_to 'Show', character
        = link_to 'Edit', edit_character_path(character)
        = link_to 'Destroy', character, :confirm => 'Are you sure?', :method => :delete

  %div.actions
    = link_to 'New Character', new_character_path
