%p#notice= notice

.entity
  %h2= @character.name

  - if @character.city
    %h3 #{link_to @character.city.name, @character.city}, #{link_to @character.region.name, @character.region}

  %div
    :markdown
      #{@character.description_markdown}

  - unless @character.groups.empty?
    %h3 Group Affiliations
    %ul
    - @character.groups.each do |group|
      %li= link_to group.name, group

  .actions
    - if session[:authenticated]
      = link_to 'Edit', edit_character_path(@character)
    = link_to 'Back', characters_path
