%h1 Cities

= render "shared/quick_search"

.entities
  - @cities_by_region.each do |region|
    .section
      %h1.heading= region[:name]
      - region[:cities].each do |city|
        .entity
          %h2.name= city.name
          %p= city.description
          .actions
            = link_to 'Show', city
            = link_to 'Edit', edit_city_path(city)
            = link_to 'Destroy', city, :confirm => 'Are you sure?', :method => :delete

  %div.actions
    = link_to 'New City', new_city_path
