%p#notice= notice

.entity
  %h1= @city.name
  %h2= link_to @city.region.name, @city.region
  %div
    :markdown
      #{@city.description_markdown}

  .children
    %h3 Characters
    %ul
    - @city.characters.each do |character|
      %li= link_to character.name, character

  .actions
    - if session[:authenticated]
      = link_to 'Edit', edit_city_path(@city)
    = link_to 'Back', cities_path
