%p#notice= notice

.entity
  %h2= @city.name
  %h3= link_to @city.region.name, @city.region
  %div
    :markdown
      #{@city.description}

  .actions
    = link_to 'Edit', edit_city_path(@city)
    = link_to 'Back', cities_path
