%h1 Regions

= render "shared/quick_search"

.entities
  .section
    - @regions.each do |region|
      .entity
        %h2.name= region.name
        %p= region.description
        .actions
          = link_to 'Show', region
          - if session[:authenticated]
            = link_to 'Edit', edit_region_path(region)
            = link_to 'Destroy', region, :confirm => 'Are you sure?', :method => :delete

  - if session[:authenticated]
    .actions
      = link_to 'New Region', new_region_path
