%p#notice= notice

.entity
  %h2= @region.name
  %div
    :markdown
      #{@region.description}

  - unless @region.cities.empty?
    %h3 Cities
    %ul
    - @region.cities.each do |city|
      %li= link_to city.name, city

  .actions
    = link_to 'Edit', edit_region_path(@region)
    = link_to 'Back', regions_path
